
h1 {
  text-align: center;
  color: #000957;
 font-size: 5.62em;
}
h1 span {
    border: 0px solid black;
  border-radius: 20px;
  background-color: #84DFFF;
  padding: 20px;
}
p {
  font size: 2px;

}

h2 {
  font-size: 2.62em;
}


















