
h1 {
  text-align: center;
  color: #000957;
  font size: 100 px;
}
h1 span {
    border: 0px solid black;
  border-radius: 20px;
  background-color: #84DFFF;
  padding: 20px;
}
img {
  padding-left: 150px;
  display: flex;
}
p {
  font size: 2px;
  display: flex;
}





















