h1 {
  text-align: center;
  color: #000957;
  font size: 100 px;
}
h1 span {
    border: 0px solid black;
  border-radius: 10px;
  background-color: #84DFFF;
  padding: 10px;
}
img {
  padding-left: 250px;
}
p {
  font size: 2px;
}





















body
